<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

    <meta charset="UTF-8">
    <title>GAMADANAK - My Account</title>
    <link href='//fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/my_account.css" %}'>
</head>
<body>

<div class="upper_bar">
    <div class="corner_logo"><img class='corner_logo' src='{% static "images/logo-with-Text.png" %}'/></div>
</div>

<div class="side_bar">

    <div class="profile_pic">
        <img id="profile_pic_circ" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWM18ddPpomHX_55-f1zFlLrdRx0EPS5pzpGJG6_98kdl0pdrCGwYzw"/>
        <p id="user_name" class="profile_user">Place Holder</p>
    </div>

    <div class="nav_menu">

        <ul>

            <li><href>My Account</href></li>
            <li><href>Invitations</href></li>
            <li><href>My Groups</href></li>
            <li><href>Create Group</href></li>
            <li><href>Instructions</href></li>

        </ul>

    </div>
</div>

<div class="main_window">
    <div class="main_window_data">
    <h1>My Account</h1>
    <form class="description">
        <p>Self Description and Stuff I Like</p>
        <textarea id="likes"></textarea>
    </form>
    </div>
    <div class="adress_data">
        <form id="adress_form" action="/does_user_exist" method="post">
            Country:<br>
            <input type="text" name="country"><br>
            City:<br>
            <input type="text" name="city"><br>
            Street:<br>
            <input type="text" name="street"><br>
            Number:<br>
            <input type="text" name="number"><br><br>
            <input type="submit" id="submit_user" value="Join The Fun!">
        </form>
    </div>
</div>

<div class="lower_line"/>
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log("thissss A");
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI(response);
        } else {
            // The person is not logged into your app or we are unable to tell.
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
        console.log("thissss D")
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '305100766594297',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.8' // use graph api version 2.8
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
            console.log(response);
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI(response) {

        var id = "";

        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log("hey");
            console.log(response);
            console.log(response.id);
            id = response.id;
            console.log("bye");
            document.getElementById("user_name").innerHTML = response.name;
        });

        FB.api('/me/picture?height=500', function(response) {
            document.getElementById("profile_pic_circ").src = response.data.url;
        });

        FB.api('/me/likes', function(response) {
            response.data.forEach(function (element, index, array) {
                document.getElementById("likes").innerHTML += element.name + ", ";
            })
        });
    };
</script>
</body>
</html>